// colors
$white-regular: rgba(255, 255, 255, 1);
$white-dark: rgba(251, 238, 217, 1);
$white-bright: rgba(253, 251, 235, 1);

$navy-dark: rgba(5, 26, 37, 1);
$navy-bright: rgba(8, 39, 55, 1);

$blue-bright: rgba(56, 178, 172, 1);

$black-dark: rgba(2, 7, 10, 1);

$yellow-300: rgba(252, 211, 77, 1);
$green-400: rgba(74, 222, 128, 1);
$blue-400: rgba(96, 165, 250, 1);
$red-500: rgba(239, 68, 68, 1);
$gray-800: rgba(39, 39, 42, 1);
$gray-900: rgba(24, 24, 27, 1);
