// colors
$white-dark: rgba(251, 238, 217, 1);
$white-bright: rgba(253, 251, 235, 1);

$navy-dark: rgba(5, 26, 37, 1);
$navy-bright: rgba(8, 39, 55, 1);

$blue-bright: rgba(56, 178, 172, 1);

$black-dark: rgba(2, 7, 10, 1);
