.projects {
  margin: 0 1rem;
  padding: 5rem 0rem 2rem 0rem;
  border-bottom: 1px solid $blue-bright;

  &__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@include media-medium {
  .projects {
    margin: 0;

    &__body {
      justify-content: space-between;
    }
  }
}

@import 'project-details';
