@include media-small {
  .nav__container {
    width: 540px;
    margin: 0 auto;
  }
}

@include media-medium {
  .nav__container {
    width: 720px;
  }

  .nav {
    &__logo {
      padding-right: 1rem;
      border-right: 1px solid $blue-bright;
    }

    .hamburger {
      display: none;
    }

    &__menu {
      position: inherit;
      height: inherit;
      width: 70%;
      transform: none;
      border-top: none;

      &--active {
        box-shadow: none;
      }
    }

    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      margin: 0 0 0 1rem;
      padding: 0.4rem 0.5rem 0.2rem;
    }

    &__item {
      margin: 0 0 0 1rem;
    }
  }
}

@include media-large {
  .nav__container {
    width: 960px;
  }
}

@include media-extra-large {
  .nav__container {
    width: 1200px;
  }
}
