.nav {
  width: 100%;
  height: 4rem;

  position: fixed;
  top: 0;
  z-index: 1;

  background-color: $black-dark;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);

  font-family: 'Baumans', sans-serif;
  font-weight: 400;
  font-kerning: auto;
  text-transform: uppercase;

  &__container {
    width: 100%;
    margin: 0 1rem;
    padding: 1rem 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__logo {
    padding: 0.4rem 0.5rem 0.1rem 0rem;
    font-size: 1.25rem;
    @include transition-basic;
    @include link-behaviour;
  }

  &__menu {
    width: 250px;
    height: 100vh;
    display: inline-block;

    background-color: $black-dark;

    position: absolute;
    top: 4rem;
    left: 0;

    transform: translateX(-250px);
    @include transition-basic;

    border-top: 1px solid $white-bright;

    &--active {
      transform: translateX(0px);
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);
    }
  }

  &__list {
    margin-top: 3rem;
    list-style: none;
  }

  &__item {
    margin: 0 0 1rem 1rem;
  }

  &__link {
    @include transition-basic;
    @include link-behaviour;
  }
}

@include media-medium {
  .nav {
    &__logo {
      padding-right: 1rem;
      border-right: 1px solid $blue-bright;
    }

    .hamburger {
      display: none;
    }

    &__menu {
      position: inherit;
      height: inherit;
      width: 70%;
      transform: none;
      border-top: none;

      &--active {
        box-shadow: none;
      }
    }

    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      margin: 0 0 0 1rem;
      padding: 0.4rem 0.5rem 0.2rem;
    }

    &__item {
      margin: 0 0 0 1rem;
    }
  }
}

@import 'hamburger';
